:root {
	--color: rgb(255, 0, 0);
}

.test {
	color: rgb(255, 0, 0);
	color: var(--color);
}

@media (min-width: 961px) {
	:root {
		--color: rgb(0, 255, 0);
	}
	.test {
		color: rgb(0, 255, 0);
		color: var(--color);
	}
	.test-import {
		color: var(--color-2);
	}
}
